<StackLayout>
    <TabView androidTabsPosition="bottom" id='tabView'>
        <StackLayout *tabItem="{title: 'Budget'}">
            <budget-tab></budget-tab>
        </StackLayout>
        <StackLayout *tabItem="{title: 'One'}">
            <habbajet-tab></habbajet-tab>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Two'}">
            <habbajet-tab></habbajet-tab>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Add'}">
            <add-tab></add-tab>
        </StackLayout>
    </TabView>
</StackLayout>