/* @import "nativescript-theme-core/css/core.light.css"; */

.actionBar {
    background-color: #252525;
    color: #ebebeb;
    font-weight: bold;
}

.checkboxGrid {
    margin: auto;
    margin-top: 10;
    padding: 10;
    width: 335;
    font-size: 25;
    background-color: #252525;
    color: #ebebeb;
    border-radius: 5;
}

.checkboxGrid > Label {
    vertical-align: center;
    padding-left: 5;
}

.tabGrid {
    margin: auto;
    margin-top: 10;
    width: 335;
    font-size: 25;
    background-color: #252525;
    color: #ebebeb;
    border-radius: 5;
}

.addButton {
    background-color: #252525;
    color: #ebebeb;
    border-radius: 5;
    margin: 10;
    padding: 6;
    font-size: 22;
    text-align: center;
}

.money {
    font-size: 30;
    text-align: right;
}

Image {
    width: 30;
    vertical-align: center;
}

.bigPicture {
    width: 315;
}

.habbajetName {
    font-size: 30;
}

.date {
    vertical-align: center;
    text-align: center;
}

.tab {
    color: #ebebeb;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    border-left-width: 1px;
    border-color: #ebebeb;
}

.selected {
    background-color: #3a3a3a;
}

.newHabbajetGrid {
    margin: 20;
    font-size: 20;
}

.textHeading {
    padding-top: 10;
    text-align: right;
}

.moneyBox {
    background-color: #252525;
    color: #ebebeb;
    border-radius: 5;
    font-size: 30;
    padding: 5;
    text-align: right;
    vertical-align: center;
}

.budgetGrid {
    margin: auto;
    margin-top: 10;
    padding: 10;
}

.responseGrid {
    margin: 12;
    margin-top: 10;
    margin-bottom: 10;
}

.button {
    width: 100;
    height: 100;
    margin: 0;
    padding: 0;
    background-color: #252525;
    border-radius: 5;
}

.deleteButton {
    text-align: center;
}

/* .checkboxList {
    margin: 10;
    padding: 5;
    /* background-color: rgb(221, 221, 221);
    background-color: rgb(100, 5, 5);
    width: 170;
    border-radius: 5;
    color: white;
    separator-color: transparent;
} */

.checkbox {
    width: 30;
    height: 30;
    float: right;
}

.checkboxTitle {
    width: 120;
    padding: 3;
    padding-right: 6;
    font-size: 20;
    font-weight: bold;
    vertical-align: center;
    text-align: right;
}

.creature {
    margin: 5;
    /* border-color: rgb(221, 221, 221);
    border-width: 3;
    border-radius: 3; */
}

.title {
    font-size: 22;
    color: black;
    text-align: center;
}

.curvedRight {
    border-bottom-right-radius: 5;
    border-top-right-radius: 5;
}

.curvedLeft {
    border-bottom-left-radius: 5;
    border-top-left-radius: 5;
}